<footer class="footer">
  <div class="footer-section-1">
    <span>CookCraft</span>
  </div>
  <div class="footer-section-2">
    <ul>
      <li>References</li>
      <li>Donate</li>
      <li>Terms</li>
      <li>Support</li>
    </ul>
    <ul>
      <li>Twitter</li>
      <li>Pinterest</li>
      <li>Facebook</li>
      <li>Instagram</li>
    </ul>
    <ul>
      <li>About</li>
      <li [routerLink]="'/unsubscribe'">Remove Subscription</li>
      <li>Report</li>
      <li>Contact</li>
    </ul>
  </div>
</footer>
