<header class="header">
  <div class="logo">
    <span>CookCraft</span>
  </div>
  <div class="menu">
    <button class="menu-button" (click)="openOrCloseMenu()">
      <i class="bi bi-list"></i>
    </button>
      <div class="menu-items-wrapper" [ngClass]="{'open' : isMenuOpen}">
        <ul class="menu-items">
          <li
            class="menu-item"
            *ngFor="let menuItem of menuItems$ | async | defaultTo : []"
            (click)="navigateTo(menuItem)"
          >
            {{ menuItem?.label }}
          </li>
        </ul>
      </div>
  </div>
</header>
